<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
  <title>Выпечка</title>
<link rel="stylesheet" type="text/css" href="style.css" />

<head>
<body>
<div class="heater"><h1>ВЫПЕЧКА</h1>
<h2>Круасаны, Рулеты, Торты</h2>
</div>
<div class="img">
	<img src="https://i1.rozetka.ua/goods/2176315/21902049_images_2176315982.jpg"/>
</div>
	<div class="name">
    <h4>decert</h4>
    <ul>
    	<li>На грамм 100</li>
    	<li>Калории</li>
    </ul>
</div>
<div class="select">
	<p>общее название для хлебобулочных изделий и кондитерских изделий, изготавливаемых методом выпекания, а также сам этот процесс.



Мелкоштучные хлебобулочные изделия включают в себя выпечку преимущественно из хлебного теста весом до 250 граммов. Это булочки, рогалики, круассаны.



Кондитерские изделия выполняются из других видов теста, преимущественно с добавлением жиров и сахара. Сюда также относятся и несладкие изделия с длительным сроком хранения (галеты, крекеры, солёные палочки, брецели). Классическими видами кондитерских изделий являются печенье, пироги и торты.



Значительная доля хлебобулочных изделий производится в домашних хозяйствах и на производствах малых форм — в пекарнях, булочно-кондитерских лавках, кафе. Механизированное хлебопечение на хлебозаводах характерно в большей степени для СССР и стран постсоветского пространства, промышленный выпуск других категорий хлебобулочных изделий (прежде всего, хлебных закусок и мучнистых кондитерских изделий) характерен для большинства индустриально развитых стран.</p>
<ul>
	<li>рулет</li>
	<li>торт</li>
	<li>что то еще</li>
</ul>
</div>
</body>

</html>
